In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("./../dataset/port_operations_log.csv")

In [8]:
df.head()

,Vessel_ID,Arrival_Date,Time_of_Day_Arrival,Day_of_Week_Arrival,Vessel_Type,Vessel_Size_GT,Total_TEU_Planned,Reefer_TEU_Planned,Hazmat_TEU_Planned,Berth_Used,Num_Cranes_Assigned,Gang_Size_per_Crane,Average_Wind_Speed,Precipitation,Waiting_Time_Before_Berth,Actual_Operation_Duration_Hours
0,V_0001,2025-03-15,16,Sat,Container Ship,39755.734094,3135,33,80,Berth_A,4,24.0,15.844960,Yes,0.251216,29.488075
1,V_0002,2025-03-16,5,Sun,Container Ship,125811.127254,8620,362,112,Berth_B,3,19.0,21.812952,Yes,16.692322,115.052352
2,V_0003,2025-06-30,19,Mon,Container Ship,72944.474830,5393,506,385,Berth_D,6,24.0,4.446655,No,29.204165,48.432351
3,V_0004,2025-11-05,6,Wed,Container Ship,116716.557873,5032,16,467,Berth_B,2,24.0,21.455915,No,5.345613,115.792496
4,V_0005,2025-05-26,14,Mon,Container Ship,22477.049049,11263,446,26,Berth_A,3,22.0,16.914155,No,23.147908,182.058103

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Vessel_ID                        5000 non-null   object
 1   Arrival_Date                     5000 non-null   object
 2   Time_of_Day_Arrival              5000 non-null   int64
 3   Day_of_Week_Arrival              5000 non-null   object
 4   Vessel_Type                      5000 non-null   object
 5   Vessel_Size_GT                   5000 non-null   float64
 6   Total_TEU_Planned                5000 non-null   int64
 7   Reefer_TEU_Planned               5000 non-null   int64
 8   Hazmat_TEU_Planned               5000 non-null   int64
 9   Berth_Used                       5000 non-null   object
 10  Num_Cranes_Assigned              5000 non-null   int64
 11  Gang_Size_per_Crane              4761 non-null   float64
 12  Average_Wind_Speed               4720 non-null   float64
 13  Precipitation                    5000 non-null   object
 14  Waiting_Time_Before_Berth        5000 non-null   float64
 15  Actual_Operation_Duration_Hours  5000 non-null   float64
dtypes: float64(5), int64(5), object(6)
memory usage: 625.1+ KB

1. Handle missing data: impute since each row has a maximum of only 2 missing values out of 16 columns
2. Change to correct data types

23